        <h1>Workshop To Do List</h1>
    <ul>
      <li>
        <input type="checkbox">
        <a href="show/2">Make the curriculum </a> 
        <span class="pomodoro-estimate small-pomodoro">4 pomodoros</span>
      </li>
      <li>
        <input type="checkbox"name="Buy Supplies"/>
        <a href="show/2"> Buy supplies </a> 
        <span class="pomodoro-estimate small pomodoro-estimate">4 pomodoros</span>
      </li>
      <li>
        <input type="checkbox" name="Clean The dishes">
        <a href="show/1"> Clean the dishes</a>
        <span class="pomodoro-estimate small-pomodoro">4 pomodoros</span>
      </li>
      <li>
        <input type="checkbox" name="Do homework">
        <a href="show/1"> Do Homework</a>
        <span class="pomodoro-estimate small-pomodoro">1 pomodoro</span>
      </li>
      <li>
        <input type="checkbox"> name="Buy food">
        <a href="show/2"> Buy food</a>
        <span class="pomodoro-estimate small-pomodoro">2 pomodoros</span>
      </li>
      
      <li>
        <input type="checkbox"> name="Do homework for history">
        <a href="show/3"> Do homework for history</a>
        <span class="pomodoro-estimate">1 pomodoro </span>
      </li>
      <li>
        
      </li>
    </ul>
    <input type="text" placeholder="Add a new Todo...."/>
    <input type="number" placeholder="Promodoro estimate..."/>
    <input id="add-new-todo-button"type="submit" value="Add Todo"/>